@font-face {
  font-family: iconfont; /* Project id 4414394 */

  src:
    url('iconfont.woff2?t=1709403170865') format('woff2'),
    url('iconfont.woff?t=1709403170865') format('woff'),
    url('iconfont.ttf?t=1709403170865') format('truetype');
}

.iconfont {
  font-family: iconfont, sans-serif !important;
  font-size: 16px;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tongzhi1::before {
  content: '\e714';
}

.icon-tongyongpeizhi::before {
  content: '\e72c';
}

.icon-gerenzhongxin::before {
  content: '\e730';
}

.icon-shenpizhongxin::before {
  content: '\e72e';
}

.icon-tuichu::before {
  content: '\e72f';
}

.icon-touxiang1::before {
  content: '\e72d';
}

.icon-zaixianbangzhuwendang::before {
  content: '\e715';
}

.icon-caidan::before {
  content: '\e661';
}

.icon-menu-fold::before {
  content: '\e63e';
}

.icon-menu-unfold::before {
  content: '\e63f';
}
