# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules
.pnpm-store

# Build
dist
dist-ssr
*.local

# Editor
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env.local
.env.*.local

tsconfig.tsbuildinfo

# VoerkaI18n 辅助文件（不提交）
voerkai18n_progress
voerkai18n_literal_hits.txt
